* {
	margin: 0;
	padding: 0;
	font-family: system-ui;
	font-size: x-large;
}

body {
	background-color: rgb(83, 40, 129);
}

button {
	padding: 5px;
	margin: 10px;
}

a,
a:link,
a:visited,
a:focus {
	color: black;
	outline: none;
	text-decoration: none;
}

a:hover {
	color: rgb(90, 13, 172);
}

a:active {
	color: rgb(54, 215, 146);
}

.navigation-bar {
	display: flex;
	flex-direction: row;
	align-items: normal;
	justify-content: space-around;
	background-color: rgb(109, 137, 213);
	padding: 20px;
}

.methods-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: normal;
	padding: 20px;
	width: max-content;
	background-color: rgb(56, 4, 112);
}

.methods-wrapper {
	display: flex;
	height: 100vh;
}

.methods-content {
	display: flex;
	flex-grow: 1;
	height: max-content;
}

